.nav ul {
	list-style-type: none;
	margin: 10;
	padding: 100;
}

.nav li{
	display: inline-block;
}

.profile{
	border: 5px solid #fff;
	backround-color: #00f;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
}

.profile img {
	width: 100%;
}

.profile p {
	font: sans-serif;
	text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}