.menu ul {
	list-style-type: none;
	margin: 10;
	padding: 100;
}

.menu li {
	display: inline-block;
}

.profile{
	border: 5px solid #fff;
	backround-color: #00f;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
}

.profile img {
	width: 20rem;
}

.profile p {
	font: sans-serif;
	text-align: center;
}